.movie-card-details {
  display: flex;
  column-gap: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.card-movie-rating {
  font-size: 20px;
  margin-bottom: 7px;
}

.card-movie-director-actors {
  display: flex;
  column-gap: 10px;
}

.card-movie-summary {
  font-size: 20px;
}
