* {
  box-sizing: border-box;
}

.movie-header {
  display: flex;
  justify-content: space-between;
  background-color: #1c1b1b;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.movie-header-title {
  display: flex;
  cursor: pointer;
}

.movie-header h3 {
  color: #fff;
  margin: 0;
}

.movie-header-title h3:nth-child(2) {
  color: #5d5a5a;
}

.movie-header-like {
  color: #fff;
}

.movie-header input {
  border-radius: 40px;
  background-color: unset;
  border: 1px solid #5d5a5a;
  padding: 10px 15px;
  color: #fff;
  outline: none;
}

.movie-header-right {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.movie-heart-button {
  background-color: unset;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.movie-heart-icon {
  width: 35px;
  height: 35px;
}

.movie-list,
.movie-message {
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
}
